{% extends 'base.html' %}

{% block conteudo %}

<h1 class="mt-5">{{ condominio.nome }}</h1>
{% if condominio.Foto %}
<p>
    <img scr="{{ condominio.Foto.url }}" style="max-width: 250px; height: auto;">
</p>
{% endif %}

<dl>
    <dt>ID</dt>
    <dd>{{ condominio.id }}</dd>

    <dt>Endereço</dt>
    <dd>{{condominio.Endereço}}</dd>

    <dt>Cidade</dt>
    <dd>{{condominio.Cidade}}</dd>

    <dt>Estado</dt>
    <dd>{{condominio.Estado}}</dd>

    <dt>Bairro</dt>
    <dd>{{condominio.Bairro}}</dd>

    <dt>CEP</dt>
    <dd>{{condominio.CEP}}</dd>

    <dt>Tx. Condominio</dt>
    <dd>{{condominio.Taxa_condominio}}</dd>

    <dt>Fundo Reserva</dt>
    <dd>{{condominio.Fundo_reserva}}</dd>

    <dt>Fração ideal</dt>
    <dd>{{condominio.Fracao_ideal_tem}}</dd>
</dl>


{% endblock %}